---
import { getCollection } from 'astro:content';
import { Astro } from 'astro';

const { slug } = Astro.params;
const posts = await getCollection('blog');
const post = posts.find((p) => p.slug === slug);

if (!post) {
  throw new Error(`Post not found: ${slug}`);
}
---

<article>
  <h1>{post.data.title}</h1>
  <p><em>Published: {post.data.pubDate}</em></p>
  <div>
    {post.body}
  </div>
</article>
