---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

type BlogPost = CollectionEntry<'blog'>;
const posts = await getCollection('blog') as BlogPost[];
---

<h1>ForeSure Analytics Blog</h1>
<ul>
  {posts.map(post => (
    <li>
      <a href={`/blog/${post.slug}/`}>
        {post.data.title} – {post.data.pubDate}
      </a>
    </li>
  ))}
</ul>
